body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

header {
  margin-top: 10px;
  margin-bottom: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

header img {
  position: relative;
  margin-right: 15px;
}

h1 {
  color: #333;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
  width: fit-content;
}

.button {
  padding: 5px 10px;
  border:  1px solid black;
  border-radius: 0;
  cursor: pointer;
  font-size: medium;
  background-color: transparent;
  width: fit-content;
}

main {
  margin: 0 auto auto auto;
  display: flex;
  flex-direction: column;
  width: 80vw;
}

/* table */

table {
  table-layout: auto;
  border: 2px solid #333;
  border-collapse: collapse;
}

tr:nth-child(odd) {
  background-color: #dadada ;
}

td, th {
  border: 2px solid #333;
}

th {
  color: #fff;
  background-color: #9e9e9e;
  padding: 15px 0;
}

td {
  text-align: center;
  padding: 15px 0;
}

td input {
  border: none;
  cursor: pointer;
  font-size: medium;
  background-color: transparent;
}

/* read */

.add {
  display: inline-flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

/* form */

.form {
  border: 1px solid black;
  padding: 20px 10vw;
  display: grid;
}

.form label {
  padding: 5px 0;
}

.margtop15 {
  margin-top: 15px;
}

.form .button {
  justify-self: center;
}

.form input:first-of-type {
  margin-bottom: 10px;
}

/* delete */

.delete {
  display: inline-flex;
  align-items: center;
  margin-top: 20px;
}

.delete input {
  margin-left: 15px;
}

/* footer */

footer {
  display: inline-flex;
  justify-content: center;
  max-width: 100vw;
  height: min-content;
  background-color: #9d9d9d;
  margin-top: 10px;
}

footer h5 {
  padding: 10px;
  margin: 0;
}